/* sass variables */

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
);

$white: #fefefe;
$black: #222;

$background: #333;
$secondary: #fff; // get rid of this
$tertiary: #888; // get rid of this
$quaternary: #222; // get rid of this
$highlight: #b9202f;
$highlight-secondary: #ff482a; // this might be better with an rgba?

$global-border-width: 3px;
$global-border-radius: 0.2em;

$font-stack: Georgia, Times, "Times New Roman", serif;

$regular-space: 0.9375em;
$small-space: 0.625em; // remove this I can just use math

$shadow: -$regular-space/2 0px $regular-space/2 rgba(0, 0, 0, 0.5);

// CONTENTS

// BASICS
// OFF CANVAS
// TOP BAR
// HEADER IMAGE
// MENU
// BUTTONS
// BUDDYPRESS
// #side_log
// EXTRAS

// BASICS
html {
  margin: 0; // browser reset
}
body {
  margin: 0; // browser reset
  background: $background;
  font-family: $font-stack;
  color: $secondary;

  width: 100vw; // minimenu sits outside of this // this isnt working in safari
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // would this to be smart to make as a variable?
  font-family: $font-stack;
}

p,
li, // keep an eye on this it could cause problems
legend,
label {
  line-height: 1.563em; // pretty large due to black on white type
}

//typescale needs to be implemented
html {
  font-size: 16px;
  // line-height: 1.563em; this breaks things without defaults
}

/* 
body {
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Griffy', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0; // where is this coming from is it a cross browser thing or just once?
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;} */

/*
h3 {
	/* Medium up screens */
/* @media (min-width: map-get($breakpoints, medium)) {
		font-size: 2.441rem; // this is normally h2
	}
} */

/*
hr {
	width: 100%; // needed sometimes to test things but I think I would rather run defaults at the moment
}
*/

a {
  color: $highlight;
}

a:hover {
  color: $highlight-secondary;
}

.serif {
  // I don't like the way this is named
  font-family: $font-stack;
}

.san-serif {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.screen-reader {
  display: none; // this needs work
}

.show-for-medium {
  /* visibility: hidden;
	@media (min-width: map-get($breakpoints, medium)) {
		visibility: visible;
	} */
  display: none;
  @media (min-width: map-get($breakpoints, medium)) {
    display: inherit;
  }
}

.show-for-large {
  display: none;
  @media (min-width: map-get($breakpoints, large)) {
    // display: inherit; this breaks index.php throwing the sidebar into a flex
    display: inline; // guess and check this
  }
}

.hide-for-large {
  display: inherit;
  @media (min-width: map-get($breakpoints, large)) {
    display: none;
  }
}

blockquote {
  border: 4px $highlight solid;
  border-radius: $global-border-radius;
  padding: $regular-space/2;
  font-size: 1.2rem;
  color: $highlight;
  background: $quaternary;
  margin: 0; // adding this in as its needed for the front page but sure it should be the default?

  p {
    margin: $regular-space/2;
  }
}

select {
  // https://css-tricks.com/styling-a-select-like-its-2019/
  background: $black;
  // border-radius: $global-border-radius;
  color: $white;
  border: 2px solid $tertiary;
  padding: $regular-space;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  max-width: 100%;
  display: block;
  font-size: 1em;
  cursor: pointer;
}

select:disabled {
  color: $tertiary;
  text-decoration: line-through;
}

option:disabled {
  text-decoration: line-through;
}

select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: white;
  outline: none;
}
select option {
  font-weight: normal;
  padding: $regular-space;
}

.clear {
  clear: both;
}

.keep-all {
  word-break: keep-all;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.text-center {
  text-align: center;
}

label {
  display: inline-block;
  color: $highlight;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: initial; // is this not in reset?
}

.callout.alert {
  background: $quaternary;
  border: 2px $highlight solid;
  color: $highlight;
}

.is-invalid-label,
.form-error {
  color: $highlight;
}

/*
[type='text'], // get rid of the ones I'm not using
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
	color: $background; // this doesnt seem to matter I guess it sits different than body color?
} */

textarea {
  min-height: 10em;
}

.field-visibility-settings-notoggle,
#buddypress .standard-form p.description {
  // these are a couple of specific selectors with no documentation
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
}

// OFF CANVAS - this is now minimenu what do I need to take across
.off-canvas {
  min-height: 100%; /* needed to fill the frame */
  z-index: 0;
  position: absolute;
  background: $background;
  color: $highlight; // why am I using link color for regular text
  padding: $regular-space;
}

.offcanvas ul {
  // why is this the only one not .off-canvas with the hypen
  line-height: 1.5rem;
}

.off-canvas .button {
  color: $secondary; // why am I changing up the color scheme for the off canvas? keep it simple and its easier?
}

.off-canvas .button:hover {
  color: $highlight;
}

.menu.vertical > li {
  border-top: 1px solid $highlight;
  padding: 1.5em;
}

.menu.vertical > li:first-child,
.menu.vertical > li:nth-child(2) {
  border-top: none;
}

.off-canvas label {
  // part of the log in form
  color: $white;
  font-size: 1.2rem; // type scale
  line-height: 1.5rem;
  border-top: none; // do labels ever have a border
}

.off-canvas a {
  color: $highlight; // why do I have to double down on this?
}

.off-canvas a:hover,
.off-canvas a:focus {
  color: $highlight-secondary;
}

// TOP BAR
.top-bar {
  background: #aaa; // this has to belighter than the light back as it looks drker than it is with context
  color: $background; // a11y check these contrast ratios?
  padding: $regular-space;
  border-bottom: $global-border-width solid #aaa; // work this in with the shadow
  box-shadow: $shadow;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.top-bar--together {
  display: flex;
  flex-direction: row;
  @media (min-width: map-get($breakpoints, medium)) {
    align-items: baseline; // this breaks on small sizes
  }
}

.top-bar--contact {
  margin-right: 0; // realigns the button to the base grid
}

/* .top-bar input {
	width: 15em; // can this be a min or max width?
} */

// HEADER IMAGE
header {
  display: grid; // needed for overlay
  max-width: 100%; // this isnt working to stop safari having the mini menu falling off the side and needs love
  // grid-template-columns: repeat(2, 1fr); turn this on to visually check the logo is in the center
}

.top-background-image {
  grid-row: 1/3;
  grid-column: 1/3;
  // theres a cover spec for this but I cant remeber it without internet
}

.top-background-image img {
  width: 100%;
}

header > .site-logo {
  // is there a nice way to keep this to a max width?
  grid-row: 1;
  grid-column: 1/3;
  max-width: 22em;
  place-self: center;
}

header > .site-logo > a,
header > .site-logo > a > img {
  max-width: 100%;
}

.custom-logo {
  max-width: 44em;
  height: auto; // needed to constrain proportions
  margin: 1em auto; // this doesnt work as the element being adapted is too far down
}

header > .small-nav {
  grid-row: 1;
  grid-column: 2;
  z-index: 4;
}

.over-background {
  background: $background; // this would add some depth to alter the color slightly
}

// MENU
.small-nav > button {
  float: right;
  margin: $regular-space;
}

.menu-icon {
  width: auto; // are these needed?
  height: auto;
  font-size: 1.5rem; // type scale?
  @media (min-width: map-get($breakpoints, medium)) {
    font-size: 2rem; // type scale?
  }
}

.menu-icon::after {
  // what is this working on?
  background: none;
  box-shadow: none;
}

.menu-icon:hover::after {
  // why does it need doubling down on?
  background: none;
  box-shadow: none;
}

.medium-up-menu li {
  text-align: center;
  font-size: 1.61rem; // type scale?
}

// BUTTONS
button,
.button, // can I get ride of this
input[type="submit"],
#buddypress button, // are these overwritten or am I doubling for no reason?
#buddypress .button,
#buddypress input[type="submit"] {
  cursor: pointer; // needed for the .button
  text-transform: uppercase;
  padding: $regular-space;
  margin: $regular-space;
  font-size: $regular-space; // dont use spacing variables on sizes use a type scale?
  background: $highlight;
  transition: all 300ms;
  color: $secondary;
  border: $highlight $global-border-width solid; // needed for using a border on hover but could be a touch darker for styling
  border-radius: $global-border-radius;
  box-shadow: $shadow;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;

  -webkit-appearance: none; // -webkit-appearance: push-button; if the default for ios devices and giving a weird glare and rounded corners
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
#buddypress button:hover,
#buddypress button:focus,
#buddypress .button:hover,
#buddypress .button:focus,
#buddypress input[type="submit"]:hover,
#buddypress input[type="submit"]:focus {
  // extra colour as its an alpha level I havent need other places
  border: rgba(0, 0, 0, 0.1) $global-border-width solid; // why such a transparent why not use a color?
  background: $secondary;
  color: $highlight;
}

// styling without the hover attribute
.fake-button {
  // used in some pagination but seems like I could do it better?
  // I could use the same as regular button just not givve it a :hover
  margin: 0 0 $regular-space;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: $regular-space;
  font-size: $regular-space;
  background: $highlight;
  font-weight: normal !important;
  transition: all 300ms;
  color: $secondary;
  border: $highlight 4px solid;
  border-radius: 0.1em;
  vertical-align: middle;
  line-height: 1rem;
}

// BUDDYPRESS
input[type=text],
textarea, // this isnt sitting as wide as the inputs?
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
#buddypress .standard-form #basic-details-section input[type=password], // couldnt these be simplier selectors? or just remove most of them
#buddypress .standard-form #blog-details-section input#signup_blog_url,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea,
#buddypress .form-allowed-tags,
#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea {
  width: calc(100% - 3.75em);
  padding: $regular-space;
  margin: $regular-space;
}

#small-order input[type="number"] {
  width: auto; // due to the KG after this gets all messed up
}

#buddypress .standard-form #profile-details-section {
  // give some documentation on this?
  clear: both;
  float: left;
}

#buddypress .standard-form #basic-details-section, // add these all to the selectors above?
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
  width: 100%;
}

#profile-details-section h4 {
  // this seems like a strange thing to remove?
  display: none;
}

.field-visibility-settings-toggle {
  // am I just not letting customers use things? seems like that could be a setting instead?
  display: none;
}

#buddypress .standard-form#signup_form div div.error {
  // add it above?
  width: 100%;
}

#buddypress #pass-strength-result {
  color: $background; // this changes once a password has been input
  // margin-left: $regular-space;
}
#buddypress .standard-form#signup_form div div.error {
  background: $tertiary; // use an error color for an error?
}

.buddypress-wrap .register-page .layout-wrap {
  flex-direction: column !important; // the register page defaults to a two column layout in an already two column spot !important is needed for the live sites due to how css files stack
}

.buddypress-wrap .standard-form input:not(.small) {
  margin: 0;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  /* color | style | width */
  outline: $highlight solid $global-border-width;
  outline-offset: $regular-space/4;

  border: $global-border-width solid transparent; // firefox reset
}

/* .pw-weak {
	margin-left: $regular-space;
} */

.pw-checkbox {
  // is hidden except for a weak password
  // width: auto !important;
  // -webkit-appearance: initial !important;
  width: 1.6rem !important; // this is the custom checkbox I use width overwrites the .buddypress-wrap .standard-form input:not(.small) I have used to get the longer forms to fit inside the boxes
  // margin-bottom: 0 !important; // overwrites the buddypress css .register-page .signup-form .default-profile input
  margin-right: $regular-space !important; // overwrites the buddypress css .register-page .signup-form .default-profile input
}

.buddypress-wrap.extended-default-reg .register-page .extended-profile {
  padding-left: 0 !important; // important needed dude to css stack on live sites
}

.signup-form input[type="text"],
.signup-form input[type="email"] {
  width: calc(
    100% - 0.9375rem
  ) !important; // $regular-space overwrites buddypress css .buddypress-wrap .standard-form input:not(.small), .buddypress-wrap .standard-form textarea
}

.signup-form input[type="submit"] {
  width: auto !important; // overwrites .buddypress-wrap .standard-form input:not(.small), .buddypress-wrap .standard-form textarea
}

.password-input-wrapper input[type="password"] {
  // this seems weird and could be better but it only shows when the show hide password box is toggled and therefore needs th important options
  margin: 0 !important;
  width: calc(100% - 1.875em) !important; // regular space*2
}

// #SIDE_LOG // I presume this is the side log in?
#side_log {
  background: $background;
  background: pink; // this is clearly wrong
  display: flex;
  // flex-direction: row;
  padding: $regular-space;
  box-shadow: $shadow;
  border: 1px solid $background;
  border-radius: $global-border-radius;
}

/* #side_log p, #side_log label, #side_log input {
	float: left; // why would any of these not be floated left?
	margin-right: 1rem;
}

#side_log label {
	height: 2.4375rem; // repeat of the other log in not fixing the height is safer?
	padding-top: .6rem; // is this a hack to get it to sit inline?
}

#side_log input[type="checkbox"] {
	width: auto; // why would it not be?
	margin-top: .4rem; // use a standard measure
}

#side_log input[type="submit"] {
	width: auto;
	padding: .7rem; // use a standard measure
	line-height: 1rem; // why would it not be?
	margin-bottom: 0; // why am I dropping off all the margin-bottom?
}

#side_log h1, #side_log h2, #side_log h3, #side_log h4, #side_log h5, #side_log h6, #side_log p,#side_log p, #side_log label {
	margin-bottom: 0; // why am I dropping off all the margin-bottom?
} */

.login-username input,
.login-password input {
  // width: calc(100% - 5em);
  // regular space * 2.9205
  width: calc(
    100% - 2.9205em
  ); // if margin is zero // this isnt letting me use variables?
  padding: $regular-space;
  // margin: $regular-space;
  margin: 0; // helping for the home page light back area not sure if it should be default
  caret-color: $highlight;
  border: solid $global-border-width $tertiary;
  border-radius: $global-border-radius;
}

// EXTRAS
// lists in mutliple places
.is-style-stripes, // newer gutenberg name
.stripes {
  padding-left: 0; // browser reset
  list-style: none;
}

.run-the-stripes.ul-stripes {
  padding-left: 0; // I want this to only be if a ul
}

.is-style-stripes li,
.stripes li,
.stripe,
.run-the-stripes div,
.run-the-stripes li {
  padding: $small-space $regular-space;
}

.is-style-stripes li:nth-child(odd),
.stripes li:nth-child(odd),
.stripe,
.run-the-stripes > div:nth-child(odd),
.run-the-stripes > li:nth-child(odd) {
  background: $quaternary;
  // border: $global-border-width solid $quaternary;
  border-radius: $global-border-radius;
}

.run-the-stripes li {
  list-style: none;
}

.is-style-stripes li:last-child,
.stripes li:last-child {
  margin-bottom: $regular-space; // whats this overwritting?
}

.light-back .is-style-stripes li:nth-child(odd),
.light-back .stripes li:nth-child(odd),
.lightback .stripe {
  background: $background;
  color: white;
}

.stripe-breaker {
  // does this just reset the stripes?
  margin-top: -0.9375rem;
  margin-bottom: -0.9375rem;
  font-size: 1.875rem;
  color: $background;
}

.stripes li:nth-child(even) .stripe-breaker {
  // this is a super confusing selector
  color: $quaternary;
}

.light-back .stripes li:nth-child(odd) .stripe-breaker {
  color: $tertiary;
}

.single-stripe {
  // little hack to not have to put everything in lists
  padding: $small-space $regular-space;
  background: $quaternary;
  border-radius: $global-border-radius;

  margin-top: 0;
}

#view-profile--orders > div > a {
  padding: $regular-space 0;
  display: inline-block;
}

/*
.stripe { // a sneaky way of making singular objects behave
	// not sure what this was but keep it around until I know
}
*/

.line-higher {
  // is this just part of the stripes so the lines are uniform
  line-height: 2.5rem; // type scale?
}

.a2 a {
  color: $secondary;
}

.a2 a:hover {
  color: $tertiary;
}

.a3 a {
  color: $highlight; // isnt this just going back to defaults?
}

.a3 a:hover {
  color: $background;
}

.a4 a {
  color: $background;
}

.a4 a:hover {
  color: $highlight;
}

.highlights {
  color: $highlight; // not very user friendly to use the link pattern on regular text // but on places like the unicode marks its ok
}

.seconds {
  color: $secondary;
}

.postfix {
  margin-left: $regular-space; // is this just a bad way of making a space?
}

// rows for mega form
.second-background {
  // at least its documented as why
  background: $quaternary;
  padding-top: 0.4em; // type scale?
}

.any-center {
  margin-left: auto; // can this be made in one line?
  margin-right: auto;
  display: block; // why?
}

.inline {
  // I believe this is from a foundation menu name?
  clear: both;
  float: left;
  margin-left: 0;
  padding-left: 0;
  li {
    float: left; // whats this overwritting?
    list-style: none;
    margin-right: $regular-space;
    margin-left: 0;
  }
}

/* Border - neds better documentation
-------------------------------------------------------------- */

.main-border {
  border-top: $global-border-width solid $white;
  border-bottom: $global-border-width solid $white;
  @media (min-width: 66em) {
    // before the container floats only border the top and bottom
    border: $global-border-width solid $white;
  }
}

.border-slim {
  border-top: $global-border-width/2 solid #999; // is the color just to be more subtle?
}

.navi a {
  margin-left: 1em; // why not the gloabl space?
}

/* Spacer
-------------------------------------------------------------- */

.spacer {
  margin-right: $regular-space; // used around unicode symbolds - can they just have spaces or &nbsp;?
}

/* Center an inline list - based on inline-list */
.centered-inline-list {
  margin: 0 auto 1.0625rem auto; // overly complicated
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none; // why is this here and below?
  overflow: hidden; // why would there be an overflow?
  text-align: center;
}

.centered-inline-list > li {
  list-style: none;
  margin-left: 1.375rem; // not just have this and above both be zero rather than going back and forward?
  display: inline-block; // seems like it always would be?
}

.centered-inline-list > li > * {
  display: block;
} // everything has to be a row?

label {
  color: $secondary;
  font-size: 1rem; // is this a browser reset?
  // line-height: 1.6rem; type scale? this doesnt help for forms but it was inputted for something so needs to be do so selectivley
  margin-bottom: $regular-space;
}

#map-canvas {
  // is this used anywhere?
  height: 20rem;
  width: 100%;
}

.gallery img {
  // wordpress generated class?
  margin-top: 20px;
}

/* Flag Banner
-------------------------------------------------------------- */

.flagbanner:before {
  content: url("../img/flag-before.png");
  position: absolute;
  z-index: 2;
  margin-left: -87px; // this is a very hacky way of doing this
  overflow: visible;
}

/* .flagbanner {
	position: relative;
	margin-top: $regular-space; // do this in one line?
	margin-bottom: $regular-space;
} */

.flagbanner:after {
  content: url("../img/flag-after.png");
  position: absolute;
  z-index: 2;
  float: left;
}

.flagbuttonbanner {
  display: inline-block;
  padding-right: 2rem; // all done with em would be more scaleable?
  padding-left: 2rem;
  background: #333;
  border: $secondary 3px solid;
  margin-right: -20px;
  line-height: 3rem;
}

/* Banners
-------------------------------------------------------------- */

.banner:before {
  content: url("../img/button-end-left.png"); // Id like to see this a svg seems lighter
  position: absolute;
  z-index: 2; // what does it need to be above?
  margin-left: -22px;
}

.banner {
  position: relative;
  margin-left: 15px; // is this just trying to make 7px?
}

.banner:after {
  content: url("../img/button-end-right.png");
  position: absolute;
  z-index: 2;
  float: left;
}

.button-banner {
  // I dont think button is the right name
  display: inline-block;
  padding: 0 1rem;
  background: #b9202f;
  line-height: 51px; // cmon? this cant be right
  margin-top: 0;
  color: $secondary;
  border: none;
  text-transform: capitalize;
}

.any-collapse {
  // document
  padding-left: 0; // can it be one line?
  padding-right: 0;
}

/* Banner Dark
-------------------------------------------------------------- */

.bannerdark:before {
  content: url("../img/bannerdark-end-left.png"); // an svg would stop doubling up
  position: absolute;
}

.bannerdark {
  position: relative;
}

.bannerdark:after {
  content: url("../img/bannerdark-end-right.png");
}

.buttonbannerdark {
  margin-left: 1.2em;
  float: left;
  background: #000;
  color: #fff;
  padding: 1rem 0.1rem; // thats a wierd hack fix
  font-size: 1rem; // what else was it going to be?
}

.buttonbannerdark:hover {
  background: #000; // am I stopping somethng from changing or just a duplicate?
}

.inline-block {
  display: inline-block; // why wouldnt this be on the element?
}

.accross {
  // doesnt seem like its used?
  margin-left: 7rem; // thats a really big margin?
}

.nudge {
  // doesnt seem used?
  margin-left: 3rem; // pretty big nudge?
}

/* Round
-------------------------------------------------------------- */

.round {
  border-radius: 50%;
  border: 5px solid #fbfbfb;
}

.outer {
  border-radius: 50%;
  border: 3px solid #fbfbfb;
  padding: 1rem 0;
  display: block;
}

.tap {
  // doesnt seem used?
  margin-left: 3rem;
}

/* Full
-------------------------------------------------------------- */

.bright {
  background: $secondary;
  color: #000;
}

.bright a {
  color: $highlight;
}

.bright a:hover {
  color: $background;
}

.soft,
.soft:before,
.soft:after {
  // doesnt seem used?
  background: #666;
  margin-bottom: 0;
  color: #000;
}

.bright h2 {
  // only h2?
  color: #000;
}

.back-to-black {
  // not referenced as used
  background: #333;
  border: 2px solid #000;
  margin-right: 6px;
  margin-left: -6px;
}

.light-back {
  background: $tertiary;
  color: $black;

  hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $white;
    margin: $regular-space;
  }
}

/* Off
-------------------------------------------------------------- */

.off {
  // not referenced as used?
  position: absolute;
  top: 500px;
  left: 60%;
  height: 400px;
}

.center-button {
  padding: 0.5em 1em;
  margin: -$regular-space;
  line-height: 1.5;

  /* Medium up screens */
  @media (min-width: map-get($breakpoints, medium)) {
    font-size: 2.2rem; // type scale?
  }
  @media (min-width: map-get($breakpoints, large)) {
    font-size: 1.9375rem;
  }
}

.fade {
  transition: opacity 1s ease-in-out;
}

.fade a:hover {
  zoom: 1;
  filter: alpha(opacity=80); // is this just below?
  opacity: 0.8;
}

.fade:hover {
  opacity: 0.8; // why is this below the selector above?
}

.fade-to-red img {
  transition: 0.3s ease-in-out;
  opacity: 0; // why start at 0 and go to 100 not the other way around? seems worse for touch interaction
}
.fade-to-red img:hover {
  opacity: 1;
}

.img-min-100 img {
  // cant this be somewhere better?
  min-width: 100%;
}

/* 
	3 - Sticky
	Wordpress and foundation both have base classes called sticky so this gives pressedant to wordpress 
--------------------------------------------------------------- */
.featured-title {
  display: none; // I think this is a default
}

.sticky {
  position: relative;
}

.sticky .featured-title {
  background: $tertiary;
  display: block;
  color: $tertiary;
}

.extra-right {
  margin-right: $regular-space;
}

.hover-back:hover {
  // needs a better name
  background-color: $highlight;
  background-blend-mode: screen;
  transition: background-color 0.5s ease;
}

.unicode {
  // literally unicode
  speak: none; // throwing a warning on vscode? but a11y might say its right?
  font-weight: bold;
  font-size: 1.25em;
}

// literal cross the anti tick
.cross {
  color: $tertiary; // whats this overwritting?
}

.no-bottom {
  margin-bottom: 0;
}

//give the top bar double buttons a bit of space to breathe
.border-spacing-top-bar {
  border-spacing: $regular-space 0px; // why border spacing and not margins?
}

.container {
  width: 100%; // it can get wierd between sizes
  max-width: 66em;
  display: flex;
  flex-wrap: wrap;
  margin: $regular-space * 2 auto 0 auto; // margin-top, margin-right, margin-bottom, and margin-left.
}

.container > main,
.container > div,
.container > img,
.container > picture {
  flex: 1 0 33em;
  // paddings have to be nested due to background colors
  max-width: 100%; // keep it under control below 33em
}

.container > .no-side {
  min-width: 66em; // single column with minimal info compresses too far
}

.container > main > div {
  // due to the flex on the layer below I have to nest the padding
  padding: $regular-space;
}

.container > picture > img {
  width: 100%;
}

.animals {
  display: flex; // I could use inline block but firefox developer tools are easier with flex or grid
  flex-wrap: wrap;
  justify-content: space-around;
}

.animals > div {
  // flex: 1 0 16.5em; // let the alpaca grow
  flex: 0 0 16.5em; // stops the alpaca growing no its svg
}

.animals > div > h3 {
  margin-top: -$regular-space/2;
}

.animals-link {
  background: $highlight;
  padding: $regular-space/2;
  color: $white;
  border: $global-border-width solid $highlight;
  border-radius: $global-border-radius;
}

.animals-link:hover {
  color: $black;
}

footer {
  max-width: 66em;
  margin-top: 0; // fix this in one line I cant remeber the syntax
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $regular-space * 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $regular-space;
  @media (min-width: map-get($breakpoints, medium)) {
    // this isnt working?
    border: $global-border-width solid $white; // needed to sit inline with the container above
  }
}

footer img {
  display: none;
  @media (min-width: 33em) {
    // is this medium im just defining by flex usually
    display: inline;
    max-width: calc(100% - 1.875em); // double the regular space
    padding: $regular-space;
  }
}

#minimenu {
  background: $background;
  position: fixed;
  z-index: 3; // above flagbanner below menu button
  width: 33%;
  left: 100%;
  transition: all 3s;
  padding: $regular-space;
  height: 100%;
  overflow-x: hidden; // need to be able to scroll the minimenu
}

.minimenu-open {
  transform: translate3d(-100%, 0, 0);
  box-shadow: $shadow;
}

#minimenu:target {
  // no-js backup // I could do something with smooth scroll etc and make it easier but the main problem is the click outside to remove
  background: palegoldenrod;
  transform: translate3d(-100%, 0, 0);
}

#minimenu > .minimenu-logo {
  max-width: 50%;
  margin: $regular-space auto;
  > a > img {
    max-width: 100%; // keep it in the box
  }
}

#minimenu > div > ul {
  margin: 0;
  padding: 0;
}

#minimenu > div > ul > li {
  // these are tap buttons not links they can look like that
  list-style: none;
  // background: $highlight;
  background: rgba(0, 0, 0, 0.25);
  margin: $regular-space;
  padding: $regular-space;
  // border: $global-border-width solid rgba(0,0,0,0.25);;
  border-radius: $global-border-radius;
  // text-align: center;
  // box-shadow: $shadow;
  box-shadow: -$regular-space/2 0px $regular-space/2 rgba(0, 0, 0, 0.25); // half strength shadow if its good it should be a variable
  font-size: 1.25em;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

/* #minimenu > div > ul > li > a {
	color: $white; // Im not sure about this I like keeping to a "correct" color scheme
} */

#loginform {
  background: $tertiary;
  color: $black;
  padding: $regular-space;
}

#mediummenu {
  background: $background;
  grid-row: 2;
  grid-column: 1/3;
  max-width: 66rem; // trial and error. I think rem will be more stable across browsers
  margin: 0 auto;
  border: $global-border-width solid $white;
  font-size: 2.441em;
  // on the view-profile at least with only a single item in the menu this is quite tall
}

#mediummenu > div > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; // browser reset for a padding left
  justify-content: space-between;
  margin: 0; // reset
}

#mediummenu > div > ul > li {
  margin: $regular-space/2 $regular-space;
}

.page-layout {
  width: 100vw; // safari needs this so the minimenu slides out of frame
  display: grid; // using grid even tho its two dimensional because its needs the overlay

  .top-background-image {
    grid-row: 1/3;
    grid-column: 1;
  }

  header {
    grid-row: 1;
    grid-column: 1;
  }

  .container {
    grid-row: 2;
    grid-column: 1;
  }

  footer {
    grid-row: 3;
    grid-column: 1;
  }
}

.home-image {
  align-self: flex-start; // cooking image lower down on the page otherwise it stretchs
}

.is-style-light-back {
  background: $tertiary;
  padding: $regular-space;
  border: solid $global-border-width $background;
  border-radius: $global-border-radius;
}

.home-contact iframe {
  width: 100%;
}

.set-in {
  margin: $regular-space;
}

#sidebar > img {
  width: 100%;
  height: auto;
}

// Jen Simmons https://codepen.io/jensimmons/pen/rNBKEZG
@supports (-webkit-appearance: none) {
  fieldset {
    // browser resets
    border: none;
    padding: 0;
    margin: 0;
  }

  fieldset label {
    margin-left: $regular-space/2;
  }
  /* 	AKA, only do this if `-webkit-appearance: none` is supported. 
	Which means IE11 and Opera Mini will get the old browser-styled checkbox. 
	Which works just fine. Old browsers can get old looking things. */
  input[type="radio"],
  fieldset input[type="radio"] {
    /*  Remove the default styling.
			`-webkit-appearance` is not an official CSS property 
			& likely never will be. But it's also in 95% of browsers, 
			non-webkit included, yes, as a `-webkit` property. 
			Firefox, Edge, Chrome, Opera all implemented `-webkit-appearance`.  
			Plus it *will* stick around. Browsers can't remove it. 
			So use it like this...                                 */
    -webkit-appearance: none;
    /* Style the radio button container. */
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid $tertiary;
    margin: 0.3rem 0 0 0;
    padding: 0;
  }
  input[type="radio"]:checked,
  fieldset input[type="radio"]:checked {
    /* Prepare for placing the new checkmark. */
    position: relative;
    border: 2px solid $highlight;
    /* Do a bug fix to keep iOS from adding dark background. */
    background: none;
  }
  input[id="radio"]:checked::after,
  fieldset input[type="radio"]:checked::after {
    /* Place (position) the new “filled-in” blob. */
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 0.7rem;
    height: 0.7rem;
    background: $highlight;
    border-radius: 50%;
    content: "";
  }

  /* Focus styles. */
  fieldset:focus-within {
    border-color: $highlight;
  }
  fieldset:focus-within legend {
    color: $highlight;
  }
  input[type="radio"]:focus,
  fieldset input[type="radio"]:focus {
    border: 1px solid $highlight;
  }

  /* 	AKA, only do this if `-webkit-appearance: none` is supported. 
	Which means IE11 and Opera Mini will get the old browser-styled checkbox. 
	Which works just fine. Old browsers can get old looking things. */
  input[type="checkbox"] {
    /*  Remove the default styling.
			`-webkit-appearance` is not an official CSS property 
			& likely never will be. But it's also in 95% of browsers, 
			non-webkit included, yes, as a `-webkit` property. 
			Firefox, Edge, Chrome, Opera all implemented `-webkit-appearance`.  
			Plus it *will* stick around. Browsers can't remove it. 
			So use it like this...                                 */
    -webkit-appearance: none;
    /* Style the box. */
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid $tertiary;
  }
  input[type="checkbox"]:focus {
    border: 2px solid $highlight;
  }
  input[type="checkbox"]:checked {
    // this isnt working right now???
    /* Prepare for placing the new checkmark. */
    position: relative;
    /* Do a bug fix to keep iOS from adding dark background. */
    background: none;
    border-color: $highlight;
  }
  input[type="checkbox"]:checked::after {
    /* Place (position) the new checkmark. */
    position: absolute;
    top: 0.36rem;
    left: 0.12rem;
    /*  Create a checkmark in CSS. 
			Could use an SVG or `content: "✓";` instead. 
			This is a box, turned 45 degs, with a 
			left and bottom border to make the checkmark.
			Created using an empty pseudo-element.*/
    content: "";
    width: 1rem;
    height: 0.3rem;
    border: 4px solid $highlight; // this seems to fail on updating so the scss might have to be kicked
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
  }
}

.form-inline {
  display: flex;
  align-items: baseline;

  label {
    margin: $regular-space; // match the input
  }
}

.preselected-options {
  background: $tertiary;
  border: $global-border-width solid $tertiary;
  border-radius: $global-border-radius;
  padding: $regular-space/2 0;
}

// .custom-check {
// display: none; this doesnt work but I need to remove the original html and replace it with the css shape below
// content: none;
// }

.custom-check:after {
  top: 0.36rem;
  left: 0.12rem;
  /*  Create a checkmark in CSS. 
		Overwrites the "✓"
		This is a box, turned 45 degs, with a 
		left and bottom border to make the checkmark.
		Created using an empty pseudo-element.*/
  content: "";
  width: 1rem;
  height: 0.3rem;
  border: 4px solid $highlight; // this seems to fail on updating so the scss might have to be kicked
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  display: inline-block;
  margin-left: $regular-space;
  margin-right: $regular-space/2;
}

.login-remeber input[type="checkbox"] {
  border-color: $black; // this isnt working
}

.wp-block-image {
  margin: 0; // wp default override
}

#menu-footer {
  display: flex;
  list-style: none;
  padding-left: 0; // default overwrite
  flex-wrap: wrap;
  // justify-content: space-between;
}

#menu-footer li a {
  // margin-right: $regular-space;
  display: inline-block;
  margin: $regular-space/2;
  // padding: $regular-space;
  // color: white;
}

#buddypress div.dir-search {
  margin: 0; // default overrite
  float: initial; // default overrite
}

#buddypress div.dir-search input[type="text"],
#buddypress li.groups-members-search input[type="text"] {
  font-size: initial; // default overrite
  padding: $regular-space; // default overrite
}

#buddypress div.item-list-tabs ul li.last {
  float: inherit;
  margin: $regular-space;
}

#members-dir-list {
  margin: $regular-space;
}

#buddypress div.pagination .pag-count {
  margin-left: 0; // default overrite
}

#buddypress div.pagination {
  font-size: inherit; // default overrite
}

#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h3,
#buddypress ul.item-list li h4 {
  font-size: inherit; // default overrite
}

#buddypress #activity-filter-select {
  // members/member-name/ deal with show box
  float: left;
  width: 100%;
}

#buddypress div.item-list-tabs#subnav ul li.last {
  margin-top: $regular-space;
}

#buddypress > #item-nav,
#buddypress > #item-body {
  margin: $regular-space;
}

#buddypress table.profile-fields tr td.label {
  width: 50%; // default overrite
}

// members page
.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  box-shadow: initial; // overwrite buddy press
}

#dir-members-search-form,
#dir-activity-search-form {
  background: $white;
  padding: $regular-space/2;
}

#dir-members-search-submit,
#dir-activity-search-submit {
  margin: 0 !important; // overwrite generic button
  padding: $regular-space/2 !important;
}

#dir-members-search-form .dashicons-search {
  vertical-align: initial;
}

#members-order-select > .select-wrap,
#activity-filter-by {
  background: $white;
  color: $black;
}

#members-order-by {
  color: $black;
}

.buddypress-wrap .bp-feedback.help .bp-icon,
.buddypress-wrap .bp-feedback.info .bp-icon {
  background: $highlight !important; // overwrites the buddypress css important is needed on test but not on localhost
}

#dir-filters {
  margin-top: 1.3em; // fix against the rss icon
}

.half {
  display: flex;
  padding: 0 !important; // fix the specificty
}

.half > div, // view-order needs some works
.half > h3 {
  flex: 1;
}

.view-order-options {
  display: flex;
  background: none !important;
  padding: 0;

  > div {
    width: 50%;
    padding: 0 $regular-space 0 0; // only right
  }
}

.animals-svg {
  margin: 0 $regular-space * 2;
  padding: 1.5rem;
}

.animals-before-svg {
  width: calc(100% - 3em);
}

// -------------------------------------------------------

#mediummenu > div > ul > li {
  margin: 0.469em 0.6375em;
}

.light-back {
  background: #e3e3e3;
  color: #0a0a0a;

  label {
    color: black;
  }

  hr {
    border-color: black;
  }
}

svg path {
  fill: black;
}

.round {
  border-color: black;
}
